/TheRepeater/nbproject/private/
/TheRepeater/build/
/TheRepeater/dist/
/GuessThePassword/nbproject/private/
/GuessThePassword/build/
/GuessThePassword/dist/
/NumberCruncher/nbproject/private/
/NumberCruncher/build/
/NumberCruncher/dist/